node_modules/
data/accumulator.json
out/
cache/
broadcast/
modules/web/dist/
modules/web/public/accumulator.json
modules/foundry/out/
modules/foundry/cache/
modules/foundry/broadcast/
modules/web/.env.local
